* {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}

.App {
  background-image: url('../../sun.png');
  background-size: 180%;
  background-position: 90% 5%;
  height: 100vh;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

img {
  height: 37px;
  width: auto;
}

footer {
  font-size: .8rem;
}